figure.p-iframe-wrap {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
}

.p-iframe-wrap.rounded {
    border-radius: 8px;
}

.p-iframe-play-btn {
    position: absolute;
    z-index: 500000000000;
    color: black;
    font-size: 5em;
}

.p-iframe-play-btn.dashicons-youtube:before {
    position: absolute;
    left: -40px;
    top: -40px;
}