figure.p-iframe-wrap {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
    position: relative;
}

.p-iframe-wrap.rounded {
    border-radius: 8px;
}

/* .p-iframe-play-btn {
    position: absolute;
    z-index: 500000000000;
    color: black;
    opacity: .5;
} */

.p-iframe-play-btn {
    position: absolute;
    width: 13%;
}

.p-iframe-play-btn:hover {
    opacity: 1;
}

.p-iframe-play-btn.dashicons.dashicons-youtube:before {
    /* font-size: 5em; */
    font-size: 75px;
    left: -30px;
    position: absolute;
    top: -30px;
}

.dashicons.dashicons-controls-play:before {
    color: white;
    position: absolute;
    top: 180px;
    left: 182px;
    font-size: 35px;
}
